:root {
  min-height: 100vh;
  min-width: 100vw;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  align-self: center;
  text-align: center;
}

.link {
  padding: 0.5rem;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(163, 178, 190);
}

.NavBarTitle {
  font-size: 3.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.linkDiv {
  padding: 1rem;
  align-content: center;
  background-color: rgb(125, 148, 167);
  border-radius: 25px;
}

.NavBarLink {
  background-color: rgb(247, 150, 6);
  color: cornsilk;
}

.NavBarLink:hover {
  color: rgb(247, 150, 6);
  background-color: cornsilk;
}

.terrorDataDiv {
  margin-top: 0.5rem;
  margin-right: 18rem;
  margin-left: 22rem;
}

.TerrorDataArea {
  border-collapse: collapse;
  width: 100%;
  direction: rtl;
}

.terrorDataTitle {
  font-size: 3rem;
}